<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% for @pokemon in @trainer.pokemons %>
	 	<p><%= @pokemon.name %>
        <br>
        Level = <%= @pokemon.level %>
        </p>

<% end %>
